.skill-container{
    height: 300px;
    display: flex;
    margin-top: 5rem;
    
}
.skill-img{
    height: 320px;
    width: 460px;
    border-radius: 1.8rem;
    object-fit: cover;
    margin-left: 5rem;
}

.main-content{
     margin: 4rem 2rem 0 13rem; 
     text-align: center;
      display: flex;
    flex-direction: column;  
}
.main-content p{
    margin-top: 2rem;
}
section{
    display: flex;
    flex-wrap: wrap;
}
.content-container{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
    margin-top: 10rem;
}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness:5px ;
    margin-bottom: 50px;
}
.bar{
    font-size: 23px;
}
 .Technical-bars .bar{
    margin-top: 40px 0;

}
.Technical-bars .bar:first-child{
    margin-top: 0;
}
.Technical-bars .bar:last-child{
    margin-bottom: 0;
}
.Technical-bars .bar .info{
margin-bottom: 5px;
}


@keyframes animate-line {
    100% {
        transform: scaleX(1);
    }
}

@keyframes animate-text {
    100% {
        opacity: 1;
    }
}

.Technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    opacity: 0;
    animation: animate-text 0.5s linear forwards 1s;
}

.Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 90%;
    height: 5px;
    background-color: #ccc;
}

.Technical-bars .bar .progress-line span {
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate-line 1s cubic-bezier(1, 0, 0.5, 1) forwards 1s;
}

.Technical-bars .bar .progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    top: -28px;
    opacity: 0;
    content: attr(data-percentage);
    animation: animate-text 1s cubic-bezier(1, 0, 0.5, 1) forwards 1s ;
}



.Technical-bars .bar .progress-line.html span{
    width: 90%;
    

}
.Technical-bars .bar .progress-line.css span{
    width: 80%;

} 
.Technical-bars .bar .progress-line.js span{
    width: 70%;

} 
.Technical-bars .bar .progress-line.react span{
    width: 70%;

} 
.Technical-bars .bar .progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color:#000;
    color: #fff;
    border-radius: 3px; 
    top: -28px;
    animation: showText 0.5s  linear forwards 1.5s;
    opacity: 0;
    content: attr(data-percentage);
}
 .progress-line html span::after{
    content: "90%";
} 

.container1{
    margin-top: 13rem;
    margin-left: 6rem;
    display: flex;
      flex-wrap: wrap;  
     flex-direction: row;
    justify-content: space-between;
   align-items: center;  
    
}
 

 .radial-bars{
     width: 100%;
     margin-left: 6rem;
     margin-bottom: 6rem;

    display: flex;
     flex-wrap: wrap;  
     justify-content: space-between;
    align-items: center; 
     
}
  .radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}   


 .radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
   width: 120px;
   height: 160px;

} 
 .progress-bar{
    /* position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
   width: 120px;
   height: 160px;  */
    stroke-width: 10;
    stop-color: #000;
    fill: transparent;
    stroke-dasharray: 314;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}
.path{
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
    stroke-linecap: round;
}
.path-1{animation: animate-path1 2s 1s linear forwards;}
.path-2{animation: animate-path2 2s 1s linear forwards;}
.path-3{animation: animate-path3 2s 1s linear forwards;}
.path-4{animation: animate-path4 2s 1s linear forwards;}
@keyframes animate-path1{
    100%{
        stroke-dashoffset: 31.4;;
    }
}
@keyframes animate-path2{
    100%{
        stroke-dashoffset: 125.6;;
    }
}
@keyframes animate-path3{
    100%{
        stroke-dashoffset: 125.6;;
    }
}
@keyframes animate-path4{
    100%{
        stroke-dashoffset: 125.6;;
    }
}
.radial-bar .percentage{
    position: absolute;
    top: 45%;
    left: -13%;
    animation: showText 0.5s linear forwards 1s;
    opacity: 1;
   
}
.radial-bar .text{
   position: relative;
    font-size: 17px;
    left: -20%;
    margin-bottom: 15rem;
    animation: showText 0.5s linear forwards 1s;
    opacity: 1;
} 
.tools-box{
   
    height: 150px;
    margin-top: 5rem;
    margin-bottom: 100px;
    margin-left: 16rem;
    text-align: center;
    display: flex;


}
.tools-heading{
    margin-top: 5rem;
    text-align: center;
}
.tools-code{
    height: 130px;
    width: 130px;
    object-fit: none;
    border-radius: 50%;
    margin-left: 2rem;
}
.tools-naming{
    position: relative;
     top: 88%;
    left: -8%; 

}